@font-face{font-family:"ro-r";font-display:block;src:url("../fonts/Roboto-Regular.ttf");}
@font-face{font-family:"ro-m";font-display:block;src:url("../fonts/Roboto-Medium.ttf");}
@font-face{font-family:"ro-b";font-display:block;src:url("../fonts/Roboto-Bold.ttf");}
@font-face{font-family:"ro-eb";font-display:block;src:url("../fonts/Roboto-ExtraBold.ttf");}
@font-face{font-family:"ro-bl";font-display:block;src:url("../fonts/Roboto-Black.ttf");}
@font-face{font-family:"utm-hanzel";font-display:block;src:url("../fonts/UTM-Hanzel.ttf");}
@font-face{font-family:"utm-aurora";font-display:block;src:url("../fonts/UTM-Aurora.ttf");}
@font-face{font-family:"1ftv-anthony";font-display:block;src:url("../fonts/1FTV-VIP-Anthony-Hunter.otf");}