:root{--cl1:#000;--cl2:#ebebeb;}

body{font-size:14px;font-family:'ro-r'!important}
.tabs-pro-detail .ul-tabs-pro-detail{padding:0px;list-style:none;margin-bottom:1rem;border-bottom:1px solid #e7e7e7;}
.tabs-pro-detail .ul-tabs-pro-detail li{cursor:pointer;float:left;margin-right:5px;margin-bottom:5px;background:#eee;padding:5px 10px;}
.tabs-pro-detail .ul-tabs-pro-detail li.active{background:#333;color:#fafafa;}
.tabs-pro-detail .ul-tabs-pro-detail li:last-child{margin-right:0px;}
.tabs-pro-detail .content-tabs-pro-detail{display:none;}
.tabs-pro-detail .content-tabs-pro-detail.active{display:block;}
input,select,textarea,button,.btn{font-family:inherit;}
button#ftwp-trigger{width:50px;height:50px;border:2px solid rgba(51,51,51,0.95);border-radius:10px;font-size:29px;color:rgba(51,51,51,0.95);position:fixed;top:calc(50% - 25px);left:1rem;margin:0 auto;display:flex;justify-content:center;align-items:center;background:#FFF;display:none;}
.item_tt .tttt{border:1px solid #ebebeb;}
.max-width{width:96%;max-width:1200px;margin:0px auto}
img{max-width:100%;height:auto;}
*{box-sizing:border-box}
.catProduct_i{display:block;text-align:center;}
.catProduct_i a,.tabProduct a,.listProductMenuTab_i a{color:#333333;cursor:pointer;}
.catProduct_i a.active,.tabProduct a.active,.listProductMenuTab_i a.active{color:var(--bs-blue);font-weight:bold;}
.catProduct,.tabProduct,.listProductMenuTab{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;gap:1rem;margin-bottom:1rem;}
.zalo-share-button{position:relative;z-index:0;}
.item_details{list-style:square;}
.item_details a{display:block;color:#333;list-style:disc;}
.item_details a span{color:var(--bs-blue);}
.item_details a:hover{color:var(--bs-blue);}
.grid-news-details{background:#ebebeb;border-radius:.5rem;padding:1rem;list-style:square;padding-left:2rem;}
figcaption{display:block;text-align:center;margin-top:.5rem;font-style:italic;}
figure{display:inline-block;vertical-align:top;}
figure a{display:block;}
.page-link{color:var(--cl1);border-radius:.25rem!important;font-weight:500;}
.page-item.active .page-link{background:var(--cl1);border-color:var(--cl1);}
.tabs-pro-detail{margin-top:1rem;}
a{text-decoration:none}
a.logo-mobi img{height:32px;display:block;}
.w-clear:after{display:block;content:"";clear:both}
.social-plugin{display:flex;margin-top:10px}
.scale-img img{transform:scale(1,1)}
.scale-img:hover > img{transform:scale(1.1,1.1)}
.hover_sang2{position:relative;overflow:hidden}
.hover_sang2:before{position:absolute;top:0;left:-85%;z-index:10;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
.hover_sang2:hover:before{transition:1s;left:100%}
.hover-img{position:relative;overflow:hidden;display:block}
.text-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box}
.p-relative{position:relative}
.transition,.btn-frame .kenit-alo-circle-fill,.control-owl button,.carousel-comment-media .carousel-control a span,.menu ul li a.has-child:after,.menu ul li ul,.menu ul li:hover > ul,.scale-img img,.scale-img:hover > img,.support-online .kenit-alo-circle-fill{transition:0.3s all}
.header{background:#fff;width:100%;z-index:10;position:relative;padding:10px 0px;}
.cart-desk{position:fixed;right:0;bottom:200px;z-index:9;border:1px solid #fff;padding:10px;color:#fff}
.cart-desk:hover{color:#fed402}
.cart-desk i{font-size:20px}
.cart-desk .count-cart{position:absolute;z-index:999;color:#fff;background:#f00;border-radius:50%;top:-10px;right:20px;width:20px;height:20px;text-align:center}
.logo-header{display:block;position:relative}
.logo-header img{height:40px;width:auto;}
.banner-header{padding-bottom:10px}
.hotline{color:#000;background:transparent;padding:0;}
.hotline span{display:block;color:red;font-weight:700;font-size:16px}
.slideshow{position:relative}
.search{border-radius:30px;background:#FFF;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;justify-content:space-between;align-items:center;height:35px;width:190px}
.search input{width:calc(100% - 35px);height:100%;font-size:13px;color:#333;border-radius:10px;border:none;background:none;padding:0px 10px;margin:0;line-height:normal}
.search input:focus{border:none;box-shadow:none}
.search p{width:35px;height:100%;cursor:pointer;line-height:35px;text-align:center;font-size:16px;margin:0}
.search p i{font-weight:bold;color:#999}
.box-search{padding:10px;border-bottom:1px solid #f1f1f1;display:flex;justify-content:space-between;align-items:center}
.ds-item-search{width:calc(100% - 70px)}
.ds-item-search a{font-size:14px;color:#333}
.show-search{position:absolute;z-index:9999;top:100%;background:#fff;width:100%;border-radius:10px;box-shadow:0 1px 8px rgba(0,0,0,.3)}
.box-search .price-product{width:100%;margin:0px;text-align:left}
.box-search .price-product .price-new{color:#f00;font-size:14px;font-weight:bold}
.box-search .price-product .price-old{color:#999;text-decoration-line:line-through}
#menu{display:none}
#hamburger{display:none;width:35px;height:23px;position:relative}
#hamburger:before,#hamburger:after,#hamburger span{background:#ffffff;content:'';display:block;width:100%;height:2px;position:absolute;left:0px}
#hamburger:before{top:0px}
#hamburger span{top:10px}
#hamburger:after{top:20px}
#hamburger:before,#hamburger:after,#hamburger span{-webkit-transition:none 0.5s ease 0.5s;transition:none 0.5s ease 0.5s;-webkit-transition-property:transform,top,bottom,left,opacity;-webkit-transition-property:top,bottom,left,opacity,-webkit-transform;transition-property:top,bottom,left,opacity,-webkit-transform;transition-property:transform,top,bottom,left,opacity;transition-property:transform,top,bottom,left,opacity,-webkit-transform}
.mm-wrapper_opening #hamburger:before,.mm-wrapper_opening #hamburger:after{top:10px}
.mm-wrapper_opening #hamburger span{left:-50px;opacity:0}
.mm-wrapper_opening #hamburger:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.mm-wrapper_opening #hamburger:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.mm-menu_opened{display:block!important}
.mm-slideout{z-index:unset}
.wrap-menu{background:var(--cl2);position:relative;width:100%;z-index:10;}
.menu-head-left{position:relative}
.title-menu{color:#fff;font-size:14px;font-weight:500;cursor:pointer;line-height:40px;display:block}
.menu-product-list{position:absolute;z-index:99;top:100%;width:250px;background:#fff;border-radius:2px}
.menu-product-list ul{padding:0px;margin-bottom:0px}
.menu-product-list ul ul{position:absolute;width:750px;background:#fff;left:100%;top:0px;border:1px solid #999;display:grid;grid-template-columns:repeat(3,1fr);gap:10px;height:100%;overflow-x:hidden}
.menu-product-list ul ul ul{position:relative;left:0px;top:0px;width:100%;border:none;display:block;height:auto}
.menu-product-list ul li a{position:relative;display:block;color:#333;font-size:14px;font-weight:500;padding:5px 10px 5px 10px;border-bottom:1px solid #ddd}
.menu-product-list ul li a .icon-down{position:absolute;right:10px;top:10px}
.menu-product-list ul ul li a span{position:absolute;right:10px;font-size:13px;font-weight:500;color:#00a3ff}
.menu-product-list ul li a:hover{color:#f00}
.menu-product-list ul ul li a{border-bottom:none;font-weight:bold}
.menu-product-list ul ul ul li a{font-weight:normal}
.menu{position:relative;z-index:99}
.menu .wrap-content{position:relative}
.fix_menu{position:fixed!important;box-shadow:0 0 1px #999;background:#fff}
.menu-ul{padding-left:160px!important}
.menu ul{width:100%;padding:0px;margin:0;list-style:none}
.menu ul li{position:relative;z-index:99}
.menu ul.ulmn > li{flex:auto}
.menu ul li.line{width:5px;height:5px;background-color:#aaa;border-radius:50%;flex:none}
.menu ul li a{color:#000;position:relative;z-index:1;text-align:center;text-decoration:none!important;display:block;line-height:45px;font-size:16px;font-style:normal;font-weight:600;text-transform:uppercase;padding:5px 0px;}
.menu ul li a img{vertical-align:middle}
.menu ul li a.active,.menu ul li:hover > a{color:var(--bs-blue);}
.menu ul li ul{position:absolute;min-width:250px;left:0;background:var(--cl2);box-shadow:0 3px 11px 0 rgba(0,0,0,0.3);-webkit-transform:perspective(600px) rotateX(-90deg);transform:perspective(600px) rotateX(-90deg);-webkit-transform-origin:0 0 0;transform-origin:0 0 0;opacity:0;visibility:hidden;transition:all 0.5s}
.menu ul li:hover > ul{-webkit-transform:perspective(600px) rotateX(0);transform:perspective(600px) rotateX(0);-webkit-transform-origin:0 0 0;opacity:1;visibility:visible;transition:all 0.7s}
.menu ul li ul li{text-align:left;border-bottom:1px solid rgb(173 173 173 / 32%)}
.menu ul li ul li:last-child{border-bottom:0px}
.menu ul li ul li a{font-size:14px;padding:10px;display:block;text-decoration:none!important;line-height:20px;text-align:left;font-weight:500;text-transform:capitalize}
.menu ul li ul li ul{top:0px;left:100%}
.menu ul li ul li a:before{position:absolute;content:'';top:50%;left:0;width:0;height:1px;background:var(--cl1);transition:all 0.3s linear;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;visibility:hidden;opacity:0;display:none;}
.menu ul li ul li a:hover:before,.menu ul li ul li > a.active:before{left:0;visibility:visible;opacity:1;width:30px}
.menu ul li ul li a:hover{visibility:visible;}
a.cart-header{position:relative}
a.cart-header span{position:absolute;top:0px;right:0px;color:#fff;font-size:11px;width:17px;height:17px;text-align:center;border-radius:50%}
.control-owl{position:absolute;width:100%;z-index:2;left:0px;top:43%}
.control-owl button{opacity:0.5;top:0px;position:absolute;outline:none;border:2px solid #fff;padding:0px;margin:0px;display:block;cursor:pointer;color:#ffffff;width:30px;height:30px;border-radius:50%;overflow:hidden;text-align:center;font-size:25px;margin:0px;background-color:var(--cl1);display:flex;align-items:center;justify-content:center}
.control-owl button:hover{opacity:1}
.control-owl button.owl-prev{left:20px}
.control-owl button.owl-next{right:20px}
.box-photo-ct{border-radius:20px;overflow:hidden}
.title-main{margin-bottom:20px;position:relative}
.title-main span{font-size:1.5em;font-weight:bold;text-transform:uppercase}
.tt-week{font-size:25px;text-align:center;margin:20px 0px;color:#fff;font-weight:700;text-transform:uppercase}
.title-cat-main{display:flex;flex-wrap:wrap;justify-content:center;margin:20px 0px;gap:20px}
.title-cat-main span{display:block;color:#999;background:linear-gradient(64.85deg,#fca600 23.67%,#ffd41d 106.12%);background-color:#fff;padding:10px;border-radius:10px;cursor:pointer}
.title-cat-main span:hover,.title-cat-main span.active{background:linear-gradient(64.85deg,#ffd41d 23.67%,#fca600 106.12%);color:#000}
.grid-tintuc{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;justify-content:space-between}
.news{display:block;margin-bottom:20px;display:block}
.pic-news{border-radius:10px;display:block;overflow:hidden;position:relative}
.pic-news img{width:100%}
a.views{display:inline-block;text-decoration:none;margin-top:10px;border:solid 1px #ccc;padding:7px 20px;border-radius:20px;color:#000;font-size:16px}
a.views:hover{border:solid 1px #fed402;color:#fed402}
.info-news{}
.info-news h3{}
.name-news{color:#1b1b1b;font-size:18px;line-height:22px;max-height:40px;-webkit-line-clamp:2!important;font-weight:400}
a.name-news.name1{font-size:25px;line-height:32px;max-height:64px}
.name-news:hover{color:#fed402}
.time-news{}
.item_tt .tttt span b{font-weight:400;color:var(--cl1);}
.item_tt h3 a{color:#141414;font-size:18px;font-style:normal;font-weight:700;line-height:27px;text-transform:uppercase;display:block}
.item_tt h3 a:hover{color:var(--bs-blue)!important;}
.desc-news{color:#333333;margin-top:0px!important;line-height:25px;font-size:15px}
.share{padding:17px 10px 10px 10px;line-height:normal;background:rgba(128,128,128,0.15);margin-top:15px;border-radius:5px}
.share b{display:block;margin-bottom:5px}
.othernews b{margin-bottom:10px}
.list-news-other{padding-left:17px;list-style:square}
.list-news-other li{margin-bottom:2px}
.list-news-other li a{text-transform:none;color:#333333}
.list-news-other li a:hover{color:#fed402}
.box-readmore{padding:8px 15px;border:1px solid var(--bs-blue);margin-bottom:2rem;border-radius:5px;background-color:#eeeeee;border-top-width:3px;}
.box-readmore li ul > li{margin:0;margin-bottom:8px}
.box-readmore li ul > li:before{content:counters(item,'.') ' '}
.box-readmore ul{list-style-type:none;counter-reset:item;margin-bottom:0px;padding-left:0px!important;margin-top:8px}
.box-readmore ul li{display:table;counter-increment:item;margin-bottom:5px}
.box-readmore ul li:before{content:counters(item,'.') '. ';display:table-cell;padding-right:5px;font-weight:bold;}
.box-readmore ul li a{color:#333333;cursor:pointer;font-weight:bold;}
.box-readmore ul li ul li a{font-weight:400;}
.box-readmore ul li ul li:before{font-weight:400;}
.box-readmore ul li:hover> a,.box-readmore ul li:hover:before{color:var(--bs-blue)!important;}
.info-partner{background:#f8f8f8;padding:15px 0px}
.info-footer .flex-footer{display:flex;justify-content:space-between;gap:20px}
.info-footer .flex-footer .box-footer .social-footer{display:flex;gap:5px;margin:10px 0px}
.info-footer .flex-footer .box-footer:nth-child(1){width:33.3%}
.info-footer .flex-footer .box-footer:nth-child(2){width:40%}
.info-footer .flex-footer .box-footer:nth-child(3){width:25%}
.info-footer .flex-footer .title-footer{text-transform:uppercase;margin-bottom:20px;font-weight:700;font-size:14px}
.info-footer .flex-footer .service-footer{margin-top:20px}
.info-footer .flex-footer .service-footer ul{padding:0px;margin:0px}
.info-footer .flex-footer .service-footer ul li{list-style:none;padding:5px 0px}
.info-footer a{color:#fff}
.title-tags{position:relative;font-size:1em;font-weight:600;padding-bottom:15px;margin-bottom:15px;color:#777}
.title-tags:after{content:'';position:absolute;left:0px;bottom:0px;background-color:rgba(0,0,0,0.1);display:block;height:3px;width:30px}
.flex-tags{display:flex;gap:5px}
.flex-tags a{color:#333;border:1px solid;border-radius:3px;display:inline-block;font-size:0.8em!important;opacity:0.8;padding:2px 5px}
.flex-tags a:hover{background-color:#446084;border-color:#446084;color:#fff;opacity:1}
.footer-powered{background:#f1f1f1}
.item-criteria a{display:flex;align-items:center;color:#333}
.item-criteria a .ds-criteria{width:calc(100% - 60px);margin-left:10px}
.item-criteria a .ds-criteria h3{-webkit-line-clamp:2;font-size:16px;color:var(--color-main)}
.item-criteria a .ds-criteria p{-webkit-line-clamp:2;margin:0px}
.box-about{max-width:700px;margin:0px auto;text-align:center}
.box-about h3{color:#ca0000;font-family:SVN;font-size:22px;margin-bottom:10px;text-transform:lowercase}
.box-about a{padding:10px 20px;color:white;text-transform:uppercase;font-size:15px;display:block;background:#ca0000;width:-moz-fit-content;width:fit-content;margin:0 auto;font-weight:600;border-radius:10px}
.item-service{position:relative}
.item-service h3{position:absolute;left:0px;right:0px;bottom:0px;color:#fff;text-transform:uppercase;padding:10px;font-size:17px;margin:0px}
.filter{position:absolute;right:0px;top:0px;padding:5px 10px;background:#f1f1f1;display:flex;justify-content:space-between;align-items:center;margin-bottom:10px;text-transform:uppercase;border-radius:5px;cursor:pointer;border:1px solid #ddd;display:none}
.flex-product-main{display:flex;gap:20px}
.flex-product-main .left-product{width:250px;border:1px solid #f1f1f1;padding:20px;border-radius:5px}
.flex-product-main .right-product{width:calc(100% - 250px)}
.wrap-product-sale{background-color:#ffa09e;border-radius:10px;overflow:hidden}
.wr-search p{font-weight:bold;text-transform:uppercase}
.product{display:block;position:relative;text-align:center}
.product .pic-product{display:block;position:relative;overflow:hidden;border-radius:10px}
.product:hover .pic-product{}
.product .pic-product img{width:100%;-webkit-transform-style:preserve-3d;height:100%;object-fit:cover;border-radius:10px}
.product .pic-product > a{display:flex;width:100%;align-items:center;justify-content:center;text-align:center;border-radius:10px}
.first_img{position:absolute;top:0;transition:all 0.5s ease;height:100%}
.product:hover .first_img{transform:scale(0)}
.second_img{display:block;position:absolute;top:0;right:100%;transition:all 0.5s ease;height:100%}
.product:hover .second_img{right:0;top:0;transition:all 0.5s ease}
.product .name-product{margin-bottom:5px}
.product .name-product a{font-size:14px;color:var(--cl1);display:block;font-weight:600;text-transform:capitalize}
.product .name-product a:hover{color:#FF1C00}
.product .name-product .text-split{-webkit-line-clamp:1}
.product .price-product{margin-bottom:2px;color:#777;overflow:hidden}
.product .price-new{font-size:14px;font-weight:700;color:red;display:inline-block}
.product .price-old{padding:0 10px;font-size:14px;text-decoration:line-through;display:block;color:#ff2e00;text-transform:uppercase;display:none}
.product .price-per{color:#ff2e00;font-size:13px;text-align:center;font-weight:700}
.info-product{border-radius:10px;background:#FFF;width:100%;position: relative;z-index:5;padding:10px;padding-top:15px}
.product b{font-weight:400;color:#4D4D4D}
.product .price-product a{color:red;font-weight:700}
.box-cat{text-align:center}
.box-cat h3{font-size:14px;color:#333;margin-top:10px}
.box-cat:hover h3{color:#f00}
.cart-product{margin:5px 0 0 0px}
.cart-product span{cursor:pointer;color:#fff;text-align:center;padding:0px 5px;border-radius:5px;display:inline-block;line-height:34px;font-size:13px;font-weight:700}
.cart-add{display:table;background:var(--cl1);margin:auto;padding:6px 16px;border-radius:5px;color:#fff;cursor:pointer;margin-top:7px}
.cart-add:hover{background:var(--bs-blue);}
.cart-add i{margin-right:7px}
.cart-buy{background-color:#ff2e00;width:93px;height:33px}
.cart-buy:hover{background-color:#fed402}
.grid-product{display:grid;grid-template-columns:repeat(4,1fr);gap:30px}
.grid-product .product .product-info{margin-top:10px;color:#333}
.grid-product .product .product-info h3{font-size:17px;color:#333}
.grid-product .product .product-info .price span{color:#f00}
.grid-product .product .pic-product{}
.grid-pro-detail{display:flex;justify-content:space-between;align-items:start}
.grid-pro-detail .left-pro-detail{width:56%}
.grid-pro-detail .right-pro-detail{width:42%}
.detail-product{display:flex;justify-content:space-between}
.detail-product .left-pro-detail{width:40%;border:1px solid #ddd}
.detail-product .right-pro-detail{width:57%}
.detail-product .right-pro-detail ul{list-style:none;padding:0px}
.detail-product .right-pro-detail ul li{margin-bottom:20px}
.detail-product .right-pro-detail ul li .title-pro-detail{font-size:18px}
.detail-product .right-pro-detail ul li .attr-content-pro-detail{display:inline-block;margin-bottom:0px}
.attr-content-pro-detail a{font-weight:700;font-size:20px;color:#ff2e00!important}
.detail-product .right-pro-detail ul li .attr-content-pro-detail .price-new-pro-detail{font-weight:700;font-size:20px;color:#f00}
.policy_intuitive{border:1px solid #e0e0e0;border-radius:5px;margin-bottom:25px}
.policy{margin:20px 16px 0 16px}
.policy__list{display:flex;flex-wrap:wrap;padding:0px}
.policy__list > li{border-bottom:1px solid #f1f1f1;position:relative;padding:12px 0 12px 35px;width:50%;display:inline-block}
.policy__list > li:nth-child(2n + 1){padding-right:20px}
.policy__list li > div.iconl{left:0;position:absolute;top:15px}
.policy__list li .iconl{width:32px}
.policy__list li p{line-height:20px;padding-left:5px;margin:0px}
.policy__list li:last-child{border-bottom:0}
.policy__list > li:nth-child(2n + 1):nth-last-child(2){border:0}
.ul-actions{display:flex;justify-content:center;margin:20px;gap:15px;align-items:flex-start}
.ul-actions li,.ul-actions > div{list-style-type:none;margin:0;padding:0;width:80px;text-align:center}
.ul-actions .active .box__tabr,.ul-actions .box__tabr:hover{border-color:#fd6e1d}
.ul-actions .box__tabr{align-items:center;border:1px solid #e0e0e0;border-radius:2px;display:flex;justify-content:center;min-height:55px;padding:4px;height:60px;width:80px}
.icon-action{background-image:url('../images/icon_chitiet@2x-min.png');background-repeat:no-repeat;display:inline-block;height:30px;width:30px;line-height:30px;vertical-align:middle;background-size:300px 180px}
.icon-dnb{background-position:0 0;height:28px;width:28px}
.icon-tskt{background-position:-105px 0;height:30px;width:30px}
.icon-ttsp{background-position:-140px 0;height:19px;width:23px}
.ul-actions p{font-size:14px;line-height:1.3;margin-top:5px;white-space:normal;color:#000}
.modal-detail::-webkit-scrollbar{width:10px}
.modal-detail::-webkit-scrollbar-thumb{width:10px;background:#4d90e0;border-radius:10px;height:50px}
.modal-detail{position:fixed;z-index:999;background:#000000c4;top:0px;left:0px;width:100%;height:100%;overflow-y:scroll}
.content-modal-detail{background:#fff;max-width:1200px;margin:0px auto;min-height:100vh}
.content-modal-detail .tabs{display:flex;cursor:pointer;padding:0;list-style:none;justify-content:center;border-bottom:1px solid #e0e0e0;position:sticky;top:0px;background:#fff;z-index:99}
.content-modal-detail .tabs li{padding:20px 20px;margin-right:5px;font-weight:bold;position:relative;border-bottom:4px solid #fff}
.content-modal-detail .tabs li.active{color:#2d9cdb;border-bottom:4px solid #2d9cdb}
.content-modal-detail .tab-content{padding:20px;max-width:900px;margin:0px auto}
.content-modal-detail .tab-content.active{display:block}
.close-tab{position:fixed;top:15px;right:20px;z-index:10}
.btn-closemenu{position:fixed;top:10px;right:20px;background-color:#fff;border:1px solid #e0e0e0;border-radius:4px;color:#333;cursor:pointer;line-height:21px;padding:7px;text-align:right;width:72px}
.btn-closemenu::before{transform:rotate(45deg)}
.btn-closemenu::after{transform:rotate(-45deg)}
.btn-closemenu::before,.btn-closemenu::after{background-color:#333;content:'';left:13px;height:14px;position:absolute;top:10px;width:1px}
.cursor-pointer{cursor:pointer}
.block__promo{border:1px solid #e0e0e0;border-radius:4px;margin-bottom:10px}
.promoadd__list{padding:10px}
.promoadd__list li{margin-bottom:15px;background:url(../images/tick.png) no-repeat 0px 3px;background-size:15px;padding-left:25px}
.pr-top{background-color:#f6f6f6;border-bottom:1px solid #e0e0e0;padding:8px 10px}
.pr-txtb{font-weight:bold}
.pr-top .pr-txt{color:#666;font-size:12px;line-height:1.4;margin-top:5px;font-style:normal}
.pr-content .pr-item:last-child{border:none}
.pr-content .pr-item{padding:15px 10px 10px 10px}
.divb{margin-bottom:-10px}
.divb .nb{background-color:#4a90e2;border-radius:50%;color:#fff;display:inline-block;font-size:11px;float:left;height:16px;line-height:16px;margin-top:2px;text-align:center;width:16px}
.divb-right{padding-left:26px}
.pr-content .pr-item p{margin:0px 0px 0px 0px}
.divb-right a{color:#4a90e2}
.wrap-ti{padding:20px 0px}
.box-ti{background:#f1f1f1;padding:15px;border-radius:10px;display:flex;justify-content:space-between;min-height:135px}
.wrap-ti .owl-item:nth-child(n + 1) .box-ti{background-color:rgb(220,238,255)}
.wrap-ti .owl-item:nth-child(n + 2) .box-ti{background-color:rgb(254,245,207)}
.wrap-ti .owl-item:nth-child(n + 3) .box-ti{background-color:rgb(255,239,219)}
.wrap-ti .owl-item:nth-child(n + 4) .box-ti{background-color:rgb(225,254,207)}
.ds-ti{width:calc(100% - 45px)}
.ds-ti h3{font-size:15px}
.ds-ti h3 a{color:#333}
.ds-ti h3 a:hover{color:#f00}
.contact-map{position:relative;height:500px;margin-top:30px}
.contact-map iframe{position:absolute;left:0px;top:0px;width:100%;height:100%}
.breadCrumbs{padding:10px 0px;background:#ddd}
.breadCrumbs ol{margin:0px}
.breadCrumbs ol li a{color:#333}
.breadCrumbs ol li a:hover{color:var(--bs-blue);}
.pagination{margin:20px 0px;gap:.5rem;flex-wrap:wrap;justify-content:center;align-items:center;}
.pagination li a{cursor:pointer}
.page-link:hover{color:var(--cl1);}
.grid-properties{display:flex;gap:10px}
.grid-properties span{position:relative;border:1px solid #ddd;padding:5px 15px;cursor:pointer}
.grid-properties span:hover,.grid-properties span.active{border:1px solid #f00;color:#f00}
.grid-properties span:hover:after,.grid-properties span.active:after{content:'';border:0.9375rem solid transparent;border-bottom:0.9375rem solid var(#d0011b,#ee4d2d);bottom:0;position:absolute;right:-0.9375rem}
.grid-properties span.outstock{pointer-events:none;background-color:#fafafa;color:rgba(0,0,0,0.26);cursor:not-allowed}
.wrap-xh{background:#fff;margin:2rem 0;}
.scrollToTop{width:41px;height:41px;text-align:center;font-weight:bold;color:#444;text-decoration:none;position:fixed;bottom:65px;right:25px;display:none;z-index:10;cursor:pointer}
.grecaptcha-badge{display:none!important;width:0px!important;height:0px!important;visibility:hidden!important;overflow:hidden}
[x-cloak]{display:none!important}
.page-home{background:transparent;padding-bottom:70px}
.wap_gioithieu{padding:70px 0px;position:relative}
.main_gioithieu{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;-webkit-flex-flow:row wrap;justify-content:space-between}
.left_gthieu{width:49%}
.right_gthieu{width:48%}
.time-mxh{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;justify-content:space-between;align-items:center;margin-bottom:20px}
.noidung_gthieu{background:#FFF;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);padding:40px;margin-left:-120px;position:relative;z-index:5}
.time{color:#333;background:url(../images/time.png) no-repeat left center;padding:10px 0px;padding-left:70px}
.time p{margin-bottom:5px;font-weight:700}
.mxh a{display:inline-block;vertical-align:top;border-radius:0px;margin-left:5px}
.mxh a img{border-radius:0;}
.tde-gt{color:#4D4D4D;font-family:SVN-Diamonda;font-size:35px}
.name-gt{color:var(--cl1);font-family:"UTM HelvetIns";font-size:35px;text-transform:uppercase}
.desc-gt{color:#4D4D4D;line-height:30px}
.xtatca{background:var(--cl1);border:1px solid var(--cl1);color:#fff;display:table;font-size:16px;text-transform:uppercase;padding:9px 22px}
.xtatca i{margin-left:10px}
.xtatca:hover{background:var(--cl2);color:var(--cl1);}
.wrap-product-nb{margin:2rem 0;}
.title-company{color:var(--cl2);text-align:center;font-size:16px;font-style:normal;font-weight:700;line-height:28px;text-transform:uppercase}
.title-main h2{color:var(--cl1);text-align:center;font-size:30px;font-style:normal;font-weight:700;text-transform:uppercase;margin:0}
.slogan{color:#4D4D4D;text-align:center;font-size:15px;margin-top:-15px;margin-bottom:25px}
.wrap-visao{padding:70px 0px;background:transparent;background-size:cover}
.box-visao{width:28%;float:left;text-align:center;margin-top:20px;margin-bottom:20px}
.box-visao:nth-child(2n+1){float:right;clear:both}
.banner-sale{display:inline-block;float:none;width:44%}
.pic-visao{display:table;margin:auto;margin-bottom:15px}
.name-vsao{color:#000;font-size:16px;font-weight:700;text-transform:uppercase}
.desc-vsao{color:#4D4D4D;-webkit-line-clamp:3;white-space:inherit;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;height:calc(23px*3);line-height:23px}
.wrap-quytrinh{background:url(../images/bg3.jpg) no-repeat;background-size:cover;padding:50px 0px}
.box-quytrinh{width:174px;height:174px;border:1px solid #fff;border-radius:50%;padding:5px;margin:auto}
.item-quytrinh{width:100%;height:100%;border-radius:50%;background:#fff;display:flex;align-items:center;justify-content:center;flex-direction:column;text-align:center;padding:20px 25px}
.name-quytrinh{color:#000;text-align:center;font-family:SVN-Gilroy;font-size:15px;font-style:normal;text-transform:uppercase;margin:0;line-height:23px}
.pic-quytrinh{margin-bottom:8px}
.stt-qtr{background:#6CBF2F;width:40px;height:40px;border-radius:50%;display:flex;align-items:center;justify-content:center;margin:auto;font-size:17px;font-style:normal;font-weight:700;color:#fff;margin-top:-20px}
.wrap-quytrinh .owl-stage-outer{position:relative;padding-bottom:50px;border-bottom:3px solid rgb(255 255 255 / 37%)}
.wrap-quytrinh .owl-stage-outer:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:3px;background:#fff;z-index:3;border-radius:2px}
.wrap-quytrinh .owl-item:nth-child(2n){margin-top:65px}
.quytrinh-item{position:relative}
.quytrinh-item:after{content:'';position:absolute;left:50%;bottom:-120px;width:1px;height:120px;background:#fff}
.wrap-quytrinh .owl-stage-outer:before{content:'';position:absolute;left:0;bottom:3px;width:100%;height:3px;background:rgb(255 255 255 / 37%);border-radius:2px 2px 0px 0px}
.quytrinh-item:before{content:'';position:absolute;left:calc(50% - 5px);bottom:-113px;width:11px;height:11px;background:url(../images/circle.png) no-repeat;border-radius:50%;z-index:5}
.wrap-quytrinh .owl-item:nth-child(2n) .quytrinh-item:before{bottom:-48px}
.quytrinh-item:hover .item-quytrinh{background:#6CBF2F}
.quytrinh-item:hover .stt-qtr{background:#fff;color:#000}
.quytrinh-item:hover .name-quytrinh{color:#fff}
.quytrinh-item:hover .pic-quytrinh img{filter:brightness(0) invert(1)}
.newsletter{background:var(--cl2);background-size:cover;}
.newsletter-wrap{position:relative;max-width:100%;margin:auto;border-radius:10px;background:transparent;box-shadow:none;padding:50px 60px;text-align:center;z-index:5}
.form_dknt{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;justify-content:space-between}
.left_form{width:59%}
.right_form{width:40%}
.newsletter-input{position:relative;margin-bottom:10px}
.newsletter-input2{display:grid;grid-template-columns:1fr 1fr;gap:10px}
.newsletter-input input{border-radius:5px;background:#F2F2F2;height:40px;border:0;color:#4D4D4D;font-size:14px;text-transform:capitalize}
.newsletter-input textarea{border-radius:5px;background:#F2F2F2;height:90px;border:0;color:#4D4D4D;font-size:14px;text-transform:capitalize;resize:none;}
.newsletter-button input{border-radius:5px;background:#FF1C00;padding:10px 13px;color:#FFF;font-size:14px;font-style:normal;font-weight:700;line-height:normal;text-transform:uppercase}
.footer{background:var(--cl1);color:#FFF;}
.copyright{padding:14px 0px;background:var(--cl1);color:#fff;text-align:center}
.copyright span{font-weight:700;text-transform:uppercase}
.footer-wrap{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;justify-content:space-between;align-items:flex-start;padding:50px 0px;}
.footer__logo{width:19%;text-align:center}
.mxh--ft{padding-top:0;}
.mxh--ft span{display:block;text-transform:capitalize;font-weight:700;margin-bottom:10px}
.footer__info{width:30%}
.footer__baiviet{width:20%}
.footer__fanpage{width:25%;border-radius:0;border:0;padding:0;}
.fanpage__title{text-align:center;font-size:25px;font-style:normal;font-weight:700;line-height:normal;margin-bottom:20px}
.fb-page{border-radius:10px;overflow:hidden}
div#footer-map iframe{display:block;width:100%;height:500px}
.footer__title{font-size:16px;font-style:normal;font-weight:700;text-transform:uppercase;position:relative;padding-bottom:10px;margin-bottom:15px}
.footer__title:after{content:'';position:absolute;left:0;bottom:0;width:36px;height:1px;background:#0D0D0D}
.footer__baiviet ul{list-style-position:inside;list-style-type:disc;margin:0;padding:0}
.footer__baiviet ul li{padding:6px 0px}
.footer__baiviet ul li a{color:inherit;}
.footer__baiviet ul li a:hover{text-decoration:underline;}
.mxh--ft a{display:inline-block;vertical-align:top;border-radius:0;margin:0px 5px;}
.mxh--ft a img{border-radius:0;}
.logo-footer{display:block}
.wap_chungnhan{padding:60px 0px}
.chungnhan-item img{width:100%}
.grid-container{display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;grid-template-rows:260px 260px;grid-auto-columns:1fr;gap:10px 10px;grid-auto-flow:row;grid-template-areas:"lt0 lt0 lt0 lt1 lt1 lt1 lt1 lt2 lt2 lt2 lt2 lt2"
"lt3 lt3 lt3 lt3 lt3 lt4 lt4 lt4 lt5 lt5 lt5 lt5";width:100%;height:100%}
.lt0{grid-area:lt0}
.lt1{grid-area:lt1}
.lt2{grid-area:lt2}
.lt3{grid-area:lt3}
.lt4{grid-area:lt4}
.lt5{grid-area:lt5}
.pic-thuviennb{display:block;width:100%;height:100%;position:relative;overflow:hidden}
.pic-thuviennb img{width:100%;height:100%!important;object-fit:cover}
.thongtin-mb{}
.thongtin-mb ul{padding:0 20px!important}
.thongtin-mb ul li{list-style:none;color:#55585a;margin-bottom:12px}
.thongtin-mb ul li i{font-size:15px;margin-right:10px;color:#6c6c6c}
@-webkit-keyframes my{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}
@-moz-keyframes my{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}
@-o-keyframes my{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}
@keyframes my{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}
.hidden_mobi,#arcontactus,#messages-facebook,.quick_contact{display:none}
.hidden_destop{display:block}
.menu_baophu{background:#000;opacity:0.8;z-index:998;left:0px;top:0px;position:fixed;width:100%;height:100%;display:none}
.icon_menu_mobi{color:#000;font-size:25px;text-decoration:none;width:40px;display:block;cursor:pointer;margin:0}
.icon_menu_mobi i{}
a.home_mobi{color:#000;text-decoration:none;float:right;font-size:20px}
a.phone_mobi{color:#fff;text-decoration:none;float:left;font-size:18px}
a.phone_mobi i{margin-right:12px;-webkit-animation:my 700ms infinite;-moz-animation:my 700ms infinite;-o-animation:my 700ms infinite;animation:my 700ms infinite}
.comment-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.comment-item-poster{width:auto;margin-right:0px;margin-bottom:0.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.comment-item-letter{width:40px;height:40px;line-height:40px;font-size:13px;margin-bottom:0}
.comment-item-name{margin-bottom:0px;margin-left:10px;margin-right:10px}
.comment-item-information{width:100%}
.price-procart{display:none}
.price-procart-rp{display:block}
.quantity-procart{text-align:right}
.top-cart{margin-bottom:2rem}
.menu_mobi{color:#6CBF2F;font-size:18px;text-decoration:none;padding:5px 10px;width:100%;cursor:pointer;display:block;cursor:pointer;position:-webkit-sticky;position:sticky;top:0;z-index:999;background:#fff;box-shadow:0px 2px 5px #969494;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;justify-content:space-between;align-items:center}
.menu_mobi_add{display:block;position:fixed;left:-100%;top:0;background:#f1f1f1;z-index:99999;color:#fff;height:100vh;overflow:auto;line-height:1.5;padding-top:40px;padding-bottom:20px;width:85%;min-width:140px;max-width:440px;box-shadow:inset -4px 0px 8px rgba(0,0,0,0.3);transition:0.5s}
.menu_mobi_active{left:0;transition:0.5s}
.menu_mobi_add ul{list-style:none;padding:0}
.menu_mobi_add ul li.li-tim{display:none}
.menu_mobi_add ul li h2{font-size:17px;margin-bottom:0}
.menu_mobi_add ul li b{display:inline-block;vertical-align:top;margin-right:8px}
.menu_mobi_add ul li b img{display:inline-block;vertical-align:top}
.menu_mobi_add ul li a{text-decoration:none;color:#191919;display:block;border-bottom:1px solid rgb(132 132 132 / 20%);padding:13px 40px 13px 0;margin-left:20px;position:relative;text-transform:uppercase}
.menu_mobi_add ul li a.active2{color:var(--bs-blue);}
.menu_mobi_add ul li a i{position:absolute;height:100%;right:0;top:0;border-bottom:1px solid rgba(255,255,255,0.1);width:40px;text-align:center;padding-top:13px;transform:rotate(90deg);border-bottom:1px solid rgba(255,255,255,0.1)}
.menu_mobi_add ul li a.active2 i{transform:rotate(0deg);border-left:1px solid rgba(255,255,255,0.2)}
.menu_mobi_add ul ul{display:none;padding-left:0}
.menu_mobi_add ul li ul li a{padding-left:20px;color:#6f6f6f}
.menu_mobi_add ul li ul li ul li a{padding-left:40px}
.close_menu{position:absolute;top:5px;right:7px;font-size:15px;background:var(--cl1);width:25px;text-align:center;line-height:25px;cursor:pointer;border-radius:50%;}
.search-res{position:relative}
.search-res .icon-search{width:40px;height:40px;cursor:pointer;text-align:center;line-height:42px;color:#fff;font-size:17px;margin:0px;margin-top:0px;border-radius:50%}
.search-res .icon-search.active{background:#fff;border-radius:100%;color:#6CBF2F}
.search-res .search-grid{position:absolute;top:47px;right:0px;width:0px;height:40px;overflow:hidden;background:#fff;border:1px solid #6CBF2F;z-index:2;opacity:0;border-radius:25px;line-height:normal}
.search-res .search-grid p{float:left;width:35px;height:38px;cursor:pointer;outline:none;border:none;margin:0px;font-size:17px;display:block;color:#6CBF2F;line-height:40px;text-align:center}
.search-res .search-grid input{width:calc(100% - 35px);float:right;line-height:38px;outline:none;border:none;color:#666363;font-size:13px}
.search-res .search-grid input::-webkit-input-placeholder{color:#ccc}
.search-res .search-grid input:-moz-placeholder{color:#ccc}
.search-res .search-grid input::-moz-placeholder{color:#ccc}
.search-res .search-grid input:-ms-input-placeholder{color:#ccc}
.thuvien-item{overflow:hidden;position:relative}
.thuvien-item a{display:block}
.box-readmore{max-height:unset;overflow:hidden;padding-right:5px}
.box-readmore.fixed{position:fixed;top:0;left:0;max-width:20%;width:100%;bottom:0;margin:0;background:rgb(238 238 238 / 95%);z-index:10;}
.box-readmore:hover{overflow:auto}
.box-readmore::-webkit-scrollbar{width:3px}
.box-readmore::-webkit-scrollbar-track{background:#000}
.box-readmore::-webkit-scrollbar-thumb{background-color:#f4e3de;background:#f4e3de;outline:0px solid slategrey}
.menu_mobi_add,.menu_mobi{display:none}
.grid-news{display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:30px}
.row-prod-flt .product{margin:10px 0px}
.btn-frame{display:block;width:50px;height:50px;position:fixed;right:20px;z-index:5;cursor:pointer}
.cart-fixed.btn-frame{bottom:29rem;}
.cart-fixed.btn-frame span{position:absolute;top:0;right:0;z-index:1;background:#f7630c;color:#FFF;width:20px;height:20px;border-radius:50%;display:flex;justify-content:center;align-items:center;font-size:13px}
.cart-fixed.btn-frame i{font-size:18px;color:white;background:var(--cl1);}
.btn-phone{bottom:14rem}
.btn-zalo{bottom:9rem}
.btn-mess{bottom:19rem}
.btn-chiduong{bottom:24rem}
.btn-css i{font-size:30px;color:#fff}
.btn-frame i{width:50px;height:50px;border-radius:50%;background:var(--cl1);position:relative;z-index:1;display:flex;align-items:center;justify-content:center}
.btn-frame i img{vertical-align:middle;width:70%}
.btn-frame .animated.infinite{animation-iteration-count:infinite}
.btn-frame .kenit-alo-circle{width:60px;height:60px;top:-5px;right:-5px;position:absolute;background-color:transparent;border-radius:100%;border:2px solid;opacity:0.1;border-color:var(--cl1);opacity:0.5}
.btn-frame .zoomIn{animation-name:zoomIn}
.btn-frame .animated{animation-duration:1s;animation-fill-mode:both}
.btn-frame .kenit-alo-circle-fill{width:70px;height:70px;top:-10px;right:-10px;position:absolute;border-radius:100%;border:2px solid transparent;background-color:var(--cl1);opacity:0.4}
.btn-frame .pulse{animation-name:pulse}
.menu-fix{position:fixed;left:0px;right:0px;top:0px;z-index:999;-webkit-animation:fadeInDown 1.3s ease backwards;-moz-animation:fadeInDown 1.3s ease backwards;-o-animation:fadeInDown 1.3s ease backwards;-ms-animation:fadeInDown 1.3s ease backwards}
.menu-fix .logo-mobi img{max-height:50px}
